[2014-09-05 18:18] domyen opened #1 "The first 'lock' of a list after meteor reset results in the list details clearing"
Repro
1. Meteor reset
2. Join
3. Sign in
4. Lock the list
5. The list enters an unexpected state where the title & items disappear

![screenshot 2014-09-05 11 18 14](https://cloud.githubusercontent.com/assets/263385/4169609/07afa32a-3529-11e4-80af-944f9a5e77d4.png)

[2014-09-05 18:29] domyen opened #2 "Lists should not be visible to an unauthenticated user"
Lists are visible to unauthenticated users when you're signed in.

Repro
1. Join + Sign in one browser window (that's not the current browser, use an incognito window or different browser)
2. Navigate to localhost:3000 in a second browser
3. Add a new list in the browser that is authenticated
4. You should see the list reflected in the unauthenticated browser window (however locked classes do not

[2014-09-05 18:30] domyen commented on #1
Note: Also occurs in mobile via the <select>

To see the real list you need to click on a new list and then click back to the old list.

[2014-09-05 18:35] domyen opened #3 "Logout should redirect back Home"
At the moment logging out preserves the URL and thus the user is presented with a 404.

[2014-09-05 18:44] domyen opened #4 "iOS list edit not focussing input when select option is clicked"
iOS is not focussing the list name input when clicking on the edit option in the select. The behavior should be identical to web in that the 'Edit' option immediately focusses the input field.

[2014-09-06 16:24] tmeasday commented on #2
I'm confused. What's the issue? Are private lists being shown to other
users?

On Sat, Sep 6, 2014 at 4:29 AM, Dominic Nguyen notifications@github.com
wrote:

[2014-09-09 18:31] domyen commented on #2
The issue here is that the public todo lists of logged in users are shown in the menu. This doesn't seem like it would be the expected use case when using an app which you've authenticated.

The expected behavior is when you login, your lists are associated only with your account and are not visible to anyone else that happens to have the menu open. They can be shared only via a unique URL but are

[2014-09-09 22:42] zol opened #5 "Typing a 'space' character in an item completes it"

[2014-09-09 22:47] zol opened #6 "Make private/public in mobile"
1. In mobile width, perhaps we should set the label in the select to be 'Make private/Make public' to make it clearer to the user that's going to be the result of their action.
2. It would be nice in mobile to also show the private/public status of a list as you have no visual feedback that anything has happened after you change the state via the ui.

@dominicnguyen what do you think?

[2014-09-10 04:18] tmeasday commented on #5
Not seeing this.

[2014-09-10 04:27] tmeasday commented on #4
Hmm. This appears to be impossible in mobile safari. @zol I believe you are the resident expert in this area.

[2014-09-10 04:30] tmeasday commented on #2
Note:

We discussed this. The conclusion is that we should build for the "example app used by a few people" use case rather than the "real app used by thousands".

So there's not so much of an issue with sharing public lists between users' menus.

@dominicnguyen close if you are happy with the explanation.

[2014-09-10 04:43] tmeasday opened #7 "Routing error if logging out with no public list"
As we are trying to redirect to a null list. @zol should we reuse the code in the new list event handler somehow?

[2014-09-10 05:27] tmeasday commented on #1
Wow, good pick up. Note there's a slightly simple repro:
1. Logout
2. Login
3. Click private button.

[2014-09-10 05:28] tmeasday commented on #1
I think this is an instance of https://github.com/EventedMind/iron-router/issues/754. It appears that 1.0.0 (currently in pre-release) fixes this. Can't get IR to run properly with Todos yet though. Will circle back in a day or two after ironing [:)] out some of these issues with Chris.

[2014-09-10 16:36] #2 closed, assigned to tmeasday

[2014-09-10 17:01] domyen commented on #6
1. Agree and done.
2. I'd rather leverage our notification UI to validate user actions. The information in the header will be quite dense if we try to symbolize and message the privacy state. Do we have a notification api setup to do this? (i.e., similar to the connection dialog)

[2014-09-10 17:05] domyen commented on #5
I'm not seeing this either.

[2014-09-10 17:33] zol commented on #6
We don't have our full blown notifications area on this project and I think
it would probably blow out the scope to include it.

_Zoltan Olah_
Partner/Engineer
http://percolatestudio.com
+1 415 696 4455

On Wed, Sep 10, 2014 at 10:02 AM, Dominic Nguyen notifications@github.com
wrote:

[2014-09-10 20:45] #3 closed, assigned to nobody

[2014-09-10 20:47] zol commented on #5
Hmm, strange - I can't reproduce it now either. Closing.

[2014-09-10 20:47] #5 closed, assigned to zol

[2014-09-10 20:58] zol commented on #7
I don't think so. Having no lists is a valid state I thought - refresh http://localhost:3000 after deleting all your lists.

[2014-09-10 21:09] zol commented on #7
Actually, this 'empty' state seems totally broken on mobile too.

[2014-09-10 21:14] zol commented on #4
Yeah, not possible. In iOS you can only focus an input and bring up the keyboard from a `click` event handler. @dominicnguyen we either need to design around this or live with it.

[2014-09-10 22:05] domyen commented on #4
Let's live with it. The other alternative is to create custom dropdown menus which isn't great with mobile.

[2014-09-10 22:05] #4 closed, assigned to nobody

[2014-09-10 22:57] domyen commented on #7
We should always have at least one list.

[2014-09-11 05:04] tmeasday commented on #7
@dominicnguyen so does this mean we should create a new list if you delete you final list?

[2014-09-11 17:33] domyen commented on #7
We should prevent users from deleting the last list. If they're on the last list and try to delete it, let's pop up a JS alert that says 'You must have one todo list'.

[2014-09-12 02:29] tmeasday commented on #7
Hmmm. I implemented this but it doesn't handle all the edge cases.
1. What if a different user makes your last list private?
2. What if a different user deletes the last public list (but themselves have a private list)?

Perhaps the rule should be "there should always be at least one public list"?

[2014-09-16 23:17] domyen commented on #7
@tmeasday makes sense, let's do that.

[2014-09-17 23:06] domyen opened #8 "Menu: User email overflows bounding area when too long"
Repro:
1. Sign up with a very long username
2. Check the menu

Solution:
Allow the username to wrap to the next line.

[2014-09-17 23:07] domyen opened #9 "Package list: Add item UX refinement"
- [x] Focus input when clicking plus button
- [x] Change placeholder to "Type to add an item..."

[2014-09-17 23:29] domyen opened #10 "Change copy for empty lists"
The text that says "You have no todos" could say something like "Click Add Item above to add a task."

I've changed it to read:
Title: No tasks here
Subtitle: Add new tasks using the field above

Note: We'd like to keep the copy web/mobile agnostic. Since there's no tapping on web and vice versa, we direct them to the field which now says "Type to add new tasks" (per another issue).

Let me know i

[2014-09-17 23:34] domyen opened #11 "Checkbox should remain a checkbox when editing a task"

[2014-09-18 03:47] stubailo commented on #10
Looks good!

[2014-09-18 16:55] domyen opened #12 "Add tooltips to all icons via the title attribute"

[2014-09-18 16:56] domyen opened #13 "Make list title click to edit and remove pencil icon"

[2014-09-18 16:59] domyen opened #14 "Show lock icon for unauthenticated users"
Show lock icon when users are logged out and prompt for sign in via a JS alert.

[2014-09-18 17:01] domyen opened #15 "Menu: Add task count next to list title in menu"
e.g., Favorite Scientists (7)

[2014-09-18 17:22] domyen commented on #14
@tmeasday can you hook up the js alert

[2014-09-18 17:31] domyen commented on #12
System tooltips appear as the little yellow labels (osx) when hovering over an icon for a moment. Tooltips have been added to all icons that aren't accompanied by text.

I think the original concern was more explanation around the lock icon. The tooltips are the first level of clarification, the second level occurs upon interaction with the icon where we show a JS alert that explains the feature h

[2014-09-19 21:26] zol opened #16 "Code changes requested by MDG"
From Sashko:
- [x] Let's not use the data-\* attributes to select elements with JS. Some experiments on the internet say that attribute selectors can be much slower than class selectors, and also this is a new pattern that many users might not understand. One way of separating classes for styling and for JS could be to prefix the class name with 'js-'.
- [x] We should use the variable name "event"

[2014-09-19 21:30] zol commented on #13
Lgtm.

[2014-09-19 21:30] #13 closed, assigned to zol

[2014-09-19 21:31] zol commented on #12
Lgtm.

[2014-09-19 21:31] #12 closed, assigned to zol

[2014-09-19 21:32] zol commented on #11
Lgtm.

[2014-09-19 21:32] #11 closed, assigned to zol

[2014-09-19 21:33] #10 closed, assigned to nobody

[2014-09-19 21:34] zol commented on #6
Not a problem.

[2014-09-19 21:34] #6 closed, assigned to zol

[2014-09-19 21:35] zol commented on #8
lgtm.

[2014-09-19 21:35] #8 closed, assigned to zol

[2014-09-19 23:20] zol commented on #16
@tmeasday over to you. I had some questions around the router. Feel free to make any corrections and close this off when satisfied.

[2014-09-25 11:59] tmeasday commented on #1
This appears fixed in IR 1.0.0-pre2.

[2014-09-25 21:49] stubailo opened #17 "Upgrade project to Meteor version 0.9.2"
The goal is that Todos will run nicely in Cordova.

[2014-09-25 21:50] stubailo opened #18 "Text, icons, and buttons are a little too small when run on a physical iPhone or Android device"
Maybe this can be fixed by changing the viewport width

[2014-09-25 21:51] stubailo opened #19 "When you log in or out, there is animation flickering in iOS"
The animation to open/close the sidebar when the user logs in or out isn't smooth.

[2014-09-25 21:54] stubailo opened #20 "Typing into the task list causes the task list to disappear on iOS"
This might be a browser error, but it might be possible to fix somehow. Reproduction:
1. Launch the app in the iOS simulator or an iPhone running iOS 8.
2. Tap one of the tasks
3. Type some text
4. The whole task list disappears in some sort of weird rendering bug

Or:
1. Launch the app in the iOS simulator and in a browser
2. Open the same list in the simulator and the browset
3. Edit one of the

[2014-09-25 21:54] stubailo opened #21 ""Physics" is in the list of favorite scientists"
It is probably left over from the tag removal change.

[2014-09-25 21:56] stubailo opened #22 "The UX for the gear icon isn't great in iOS 8"
In iOS 8, input type="select" doesn't work quite the same way as before; in the new UI, it doesn't make as much sense to represent a dropdown menu with a select element, because you have to scroll to a certain item and then click "done".

The gear icon dropdown should probably be replaced with an HTML dropdown, or several icons.

[2014-09-25 21:58] stubailo opened #23 "When you click/tap on the list title, the number of tasks in the list very conspicuously disappears"
Maybe we can move it to the left of the list title so it doesn't disappear so suddenly? Alternatively, we can make it more obvious that the list title has transformed into an input by changing the background color or something.

[2014-09-25 21:59] stubailo opened #24 "The sidebar should open by swiping on mobile"
Depending on how hard it is to implement (whether it would introduce a lot of code complexity), it would be good to be able to open the sidebar on mobile by swiping from the left.

[2014-09-25 22:01] stubailo opened #25 "The number next to the task list name should count uncompleted tasks and should appear in the sidebar"
The number should indicate how many tasks haven't been checked off yet.

[2014-09-25 23:30] domyen commented on #24
IIRC it's a bit complex. To get the menu-swipe working like our favorite iOS apps, we need to track the position of the finger and adjust the content area position accordingly. @tmeasday would know best.

[2014-09-25 23:34] tmeasday commented on #24
Yeah, our code to do it for Verso is around 100 lines of JS and I think a bit of supporting CSS. Not the easiest code to understand and probably a bit fiddly for the average user to try and replicate, and probably pretty brittle to layout changes.

[2014-09-25 23:58] stubailo commented on #24
I see. OK we can put this off till much later then, or never.

[2014-09-26 00:35] tmeasday commented on #16
LGTM.

[2014-09-26 00:35] #16 closed, assigned to tmeasday

[2014-09-26 00:44] tmeasday commented on #7
Ok, done. The rule is enforced client side so a) is insecure and b) highly susceptible to race conditions.

Are you OK with this @stubailo ? (we are still using `insecure` in this app of course). Should I add an explanatory comment?

[2014-09-26 01:14] tmeasday commented on #15
This is subsumed by #25

[2014-09-26 01:14] #15 closed, assigned to tmeasday

[2014-09-26 01:15] tmeasday commented on #25
@dominicnguyen needs styling in the menu.

@stubailo you may want to review 76bcf35 -- there's no established pattern for doing these kind of client side joins. You may have better ideas.

[2014-09-26 01:22] tmeasday commented on #22
I think this was actually the way it behaved in iOS7 too, no? Over to you @dominicnguyen

[2014-09-26 01:24] tmeasday commented on #20
Not seeing this in either the iOS8 simulator or on a physical phone (with either reproduction). Anyone else?

[2014-09-26 01:26] tmeasday commented on #19
Yeah, this is ugly. It actually happens in desktop Chrome as well at phone resolution (although it's much harder to spot).

Going to add some page to page transitions (fade out/in) now, it might have the side effect of fixing this.

[2014-09-26 01:48] stubailo commented on #25
What about saving it inside the todo list document and changing it using http://docs.mongodb.org/manual/reference/operator/update/inc/? I don't think we should use publish counts if possible.

[2014-09-26 01:49] stubailo commented on #22
It's a little nicer in Android, I think, but it's definitely not great in iOS.

[2014-09-26 01:49] #21 closed, assigned to stubailo

[2014-09-26 01:50] #17 closed, assigned to stubailo

[2014-09-26 01:52] stubailo commented on #24
Could we do something with just gestures using http://hammerjs.github.io/?

[2014-09-26 02:06] tmeasday commented on #24
Yeah, that'd probably be better than nothing and much simpler. Thoughts @dominicnguyen ? -- it would mean it would just be a swiping gesture to open close -- there'd be no nice "grabbing" the edge and moving it.

[2014-09-26 02:06] tmeasday commented on #25
Ok, and just doing the `$inc` client side? I can get behind that.

[2014-09-26 02:09] stubailo commented on #25
Yeah, it might not be super atomic, but that might be OK for the example.

[2014-09-26 02:40] tmeasday commented on #25
Ok, please review again @stubailo

[2014-09-26 03:03] stubailo commented on #25
Looks good!

[2014-09-26 03:18] tmeasday commented on #25
Thanks! (cool packages btw, nice talk)

[2014-09-26 03:24] stubailo commented on #25
Thanks - I'm really excited about having a page with all of mine on atmosphere!

[2014-09-26 03:31] tmeasday commented on #24
Ok, @stubailo - take a look. It works:
- sorta on desktop, but pretty undiscoverable
- _OK_ on cordova
- Kinda janky on Mobile Safari because it interacts with the back/forward gesture which AFAIK cannot be disabled from a webapp.

I'd suggest we only enable it in `Meteor.isCordova`. Any other thoughts?

[2014-09-26 03:38] tmeasday commented on #25
I would be too if I wasn't maintainer of like every single package on there ... need to something about that :)

[2014-09-26 04:34] tmeasday commented on #19
The reason for this was we didn't redirect until we were done logging out, usually mid way through the menu closing.

Changed the redirect to be instant.

[2014-09-26 04:36] tmeasday opened #26 "Animation page changes via fade in/out"

[2014-09-26 04:39] tmeasday commented on #26
There's an issue that `_uihooks` don't trigger when change from list->list as the template isn't changing and so IR doesn't trigger a re-draw (just changes the data context).

@dgreensp I wonder if you have any ideas on how you could "force" a re-render in Blaze.

I implemented a proof-of-concept for it at one point in [momentum](https://github.com/percolatestudio/meteor-momentum/commit/315818d166

[2014-09-26 05:36] dgreensp commented on #26
It's a hack, but you can `{{#each}}` over an array of one object that has an `_id`.

[2014-09-26 05:49] tmeasday commented on #26
@dgreensp so that'll redraw whenever the `_id` changes but not if any other attribute changes?

Neat trick. Should we include it in the app?

[2014-09-26 13:29] dgreensp commented on #26
I think so, since it's the only way I can think of to achieve the right semantics.  On one level it makes perfect sense, though I don't think all readers will find it intuitive.

Here's a crack at a comment explaining it: "We use #each on an array of one item so that the "list" template is removed and a new copy is added when changing lists, which is important for animation purposes.  #each looks

[2014-09-26 18:44] domyen commented on #26
lgtm

[2014-09-26 18:46] domyen commented on #7
lgtm

[2014-09-26 19:18] domyen commented on #22
@stubailo This was the expected behavior in iOS. The reasons to use the  <select> in this case are twofold:
1. Simplicity: We use a standard HTML element whose interaction is supported by out-of-the-box by mobile browsers instead of adding more code complexity to power a more custom UI.
2. Affordances for more list items in the future

That said, we're happy to add a custom UI that is more similar

[2014-09-26 20:09] domyen commented on #23
Animating between the two states can address the sudden change in state.

@tmeasday
Update from in-person meeting: Let's try a fade-in-out when the edit template is toggled to communicate state change. Revisit if it remains unclear.

[2014-09-26 20:14] domyen opened #27 "iOS: List flickering when todo item is focussed"
Repro:
1. Go to a todo list on your iOS device (iphone)
2. Click on a todo item  to focus
3. Click 'done' on the keyboard
4. When the keyboard closes the list flickers. If it doesn't try it again, will happen ~85% of the time.

[2014-09-26 20:44] domyen commented on #18
**Re: font-size**
We can adjust the font-size. At the moment the font-size for todo items aligns with the size you'd see with list-item lockups on popular apps like Twitter or Sunrise –check out the screenshot below. Let's bump it up a tad and see how that goes?

![font-small](https://cloud.githubusercontent.com/assets/263385/4427164/53c12ab0-45bc-11e4-8928-50f8ce90b00f.jpg)

**Re: icons**
We've e

[2014-09-26 20:47] domyen commented on #20
Can't seem to get a repro on iphone5s ios8. Might be related to https://github.com/percolatestudio/mdg-todos/issues/27?

[2014-09-26 21:03] domyen opened #28 "Initial load should show the todo splash in the loading template"
The initial load shows a menu (perhaps the loading template on top of that) followed by the list.
It should show the loading template followed by the list.

[2014-09-26 21:07] stubailo commented on #18
In my opinion almost all of the click targets in the app felt a little too small - maybe apps like Twitter do some trickery such that if you narrowly miss the button it works anyway?

Let's see what it's like with a slight increase.

[2014-09-26 21:09] stubailo opened #29 "Scrolling is weird on iPhone"
If you run the app on an iPhone or iOS simulator, and you click and drag the title bar/list name, then let go and try to scroll the task list, for some reason it tries to scroll the whole page and it's impossible to scroll the list itself unless you tap inside a list item first.

Let me know if this is too vague of a description.

[2014-09-26 21:11] stubailo commented on #24
Looks good to me in cordova, let's enable it only for that case.

[2014-09-26 21:12] stubailo commented on #18
Also, while we're doing this can we make part you can tap on to close the sidebar a little thicker on mobile? I know you can also swipe now, but it would be great to support both interactions.

[2014-09-26 21:14] stubailo commented on #20
Weird, I can't reproduce it anymore - no idea what caused this when Matt and I experienced it.

[2014-09-26 21:15] stubailo commented on #28
Related: the app should do something nice if you start it when you don't have any internet access. This might just mean having the loading screen up forever with the connection warning at the bottom.

[2014-09-26 21:18] stubailo commented on #22
Yeah, I think we should replace it with out own UI. Normally, I'm in favor of this design. I used to use it all the time, so I totally get where you are coming from. In this case, however, I don't think it's really working out.

Maybe we can add another sidebar on the right for list options? If we added sharing private lists with other people those settings could go in the new sidebar as well.

[2014-09-26 21:40] domyen commented on #29
@zol @tmeasday So this is an issue that we encountered on previous mobile-web apps: when a user tries to scroll a fixed nav element they end up scrolling the entire page (which is impossible because we set overflow hidden) instead of the real scrollable area.

Any further thinking on this one?

[2014-09-26 21:50] domyen commented on #26
@tmeasday we should add a background behind the right column to fix the easing between page to page
@stubailo

[2014-09-26 22:14] domyen commented on #18
From our in-person discussion (correct me if I'm wrong @stubailo):
1. We're fine with icon size, the issue came up due to the native status bar overlaid atop the app nav thereby reducing the clickarea size by 1/2. It will be fixed when we're able to create an allowance for the status bars –pending some Cordova work.
2. Text is fine

Todo for Dom:
- [x] Bump up the icon-trash size
- [x] Make the vi

[2014-09-26 22:37] domyen commented on #22
From the in-person meeting:
We'll create a custom UI that lives alongside the sharing feature. It will likely be a page overlay that appears when the cog icon is tapped and serve as a sort of control panel for the list.

[2014-09-28 09:21] tmeasday commented on #25
LGTM.

[2014-09-28 09:46] tmeasday commented on #23
Is this what you were thinking @dominicnguyen ? It's tricky to only fade the number because of the way that UI hooks work. We could also do it pretty easily with a CSS transition if we left both elements on the screen and hid one.

Also it feels a bit weird that we are now repeating the "fade" transition. I guess I can generalise it although `{{#momentum plugin='fade'}}` would make it simple :)

[2014-09-28 09:51] tmeasday commented on #29
Ahh, the dreaded rubber band scrolling. I can't actually remember the conclusion for Verso, which seems to not have this problem (also doesn't have a title bar). @zol I'm guessing you have a better memory on this stuff than me?

[2014-09-28 10:01] tmeasday commented on #28
Seems to work well except for one issue: the image tag for the loading page doesn't work.

What is the correct path that we should be specifying? It seems to look for the image on the internal on-device server, fail to find it, and not forward it through to the real server. What should it be doing? @stubailo

[2014-09-29 01:48] stubailo commented on #28
interesting. I'll ask around to see if this is a bug.

[2014-09-29 16:29] domyen commented on #22
Attached a design to address the <select > UX with a more native-like flow. @stubailo check it out?

**Notes:**
1. Accommodate for being able to explicitly share private lists (public lists are automatically sharable and thus don't need to see sharing UI)
2. Keep the number of distinct templates for web and mobile to a minimum

![screenshot 2014-09-29 09 22 25](https://cloud.githubusercontent.com/

[2014-09-29 16:46] domyen commented on #23
Thanks @tmeasday. This is a much smoother and communicative transition for the title and buttons. @stubailo check it out?

I prefer the UI appearing with Meteor instead of the more jquery-ish approach of loading hidden things and toggling them.

[2014-09-29 16:53] domyen opened #30 "Menu: Change lock position to left"
Prevents crowding when there is both a lock and count

[2014-09-29 17:54] stubailo commented on #23
Looks good!

[2014-09-29 17:54] #23 closed, assigned to stubailo

[2014-09-29 18:23] zol commented on #30
Checked lock position in menu is to the left of list name.

[2014-09-29 18:27] zol opened #31 "Counts go negative"
Completing items results in the counter badge going negative. Is this correct behavior?

[2014-09-29 18:27] zol commented on #27
Lgtm, can't get it to happen.

[2014-09-29 18:31] zol commented on #1
n.b I've seen this state happen to a list by adding a new item.

[2014-09-29 18:33] zol commented on #31
My bad, didn't realize I had to `mrt reset` due to #10

[2014-09-29 18:33] #31 closed, assigned to nobody

[2014-09-29 18:36] #7 closed, assigned to nobody

[2014-09-29 18:36] #9 closed, assigned to nobody

[2014-09-29 18:36] #14 closed, assigned to nobody

[2014-09-29 18:36] #25 closed, assigned to nobody

[2014-09-29 18:36] #26 closed, assigned to nobody

[2014-09-29 18:36] #27 closed, assigned to nobody

[2014-09-29 18:36] #30 closed, assigned to nobody

[2014-09-29 18:40] zol commented on #19
Lgtm.

[2014-09-29 18:40] #19 closed, assigned to nobody

[2014-09-29 19:06] stubailo commented on #1
Can we upgrade to IR 1.0.0-pre2 or above?

[2014-09-29 20:16] zol commented on #29
Fixed via `config.xml`

[2014-09-29 20:18] zol commented on #24
Looks great.

[2014-09-29 20:18] #24 closed, assigned to nobody

[2014-09-29 20:19] zol commented on #28
@stubailo any ideas on this one?

[2014-09-29 20:21] zol commented on #20
Closing this due to lack of repro.

[2014-09-29 20:21] #20 closed, assigned to nobody

[2014-09-29 20:37] zol opened #32 "Cannot delete on iOS"
Hitting the trash icon doesn't delete items under the simulator.

[2014-09-29 20:38] zol commented on #18
Lgtm.

[2014-09-29 20:38] #18 closed, assigned to nobody

[2014-09-29 21:05] zol commented on #22
@stubailo - check out the proposed design. Our plan is to replace the UX with this design as soon as we can (won't make it into today's release).

[2014-09-29 21:06] zol opened #33 "Splash and tile assets for cordova"

[2014-09-29 21:12] zol commented on #33
@dominicnguyen I've added the default assets in https://github.com/percolatestudio/mdg-todos/commit/118d82f46cb2ade661fe827cd8fb8d07caeee653 . Please override them in the project with our assets in the correct dimensions

[2014-09-29 22:41] domyen commented on #33
Try them out. https://github.com/percolatestudio/mdg-todos/commit/dd53953b5dcb89f6143d7ede83b354c032234c53

[2014-09-30 00:20] stubailo commented on #22
Does it make sense for the bar to have a share button if the list isn't private? What would it do?

[2014-09-30 01:05] domyen commented on #22
@stubailo Since lists default to public, we would not show the share button for public lists.

[2014-09-30 03:32] tmeasday commented on #1
https://github.com/EventedMind/iron-router/issues/869

[2014-09-30 04:11] tmeasday commented on #1
@stubailo IR 1.0.x isn't really ready enough to be rc-ed so I think it's better to figure a fix to IR 0.9.x. I'll try to get an RC with fix out ASAP.

[2014-09-30 04:12] stubailo commented on #1
I was hoping to release a preview tonight - do you think the fix is easy?

[2014-09-30 04:20] tmeasday commented on #1
Give me 20 minutes and I'll tell you more.

[2014-09-30 04:28] tmeasday commented on #1
@stubailo I actually don't think @cmather has ever given me permission to publish rcs of IR. I believe @avital has permission though. OTOH I could just publish a fork.

[2014-09-30 04:31] stubailo commented on #1
Why can't we just use the pre-release of IR? does it include this fix? We will need to upgrade to the new version of IR later anyway.

[2014-09-30 04:33] stubailo commented on #1
If that's not a valid solution, publishing a fork is fine for now.

[2014-09-30 04:42] tmeasday commented on #1
I have a fix -- double checking now.

I'm loathe to use IR1.0-pre because:
 a) the syntax of IR has changed in significant ways. Getting todos to work with it was non-trivial.
 b) it is still pretty buggy and I'm not 100% there aren't different bugs with using it with todos.
 c) I'm not at all sure about the release schedule so but I know it's unlikely to be out before this app.

[2014-09-30 04:45] tmeasday commented on #1
Confirmed that the fix works with todos.

[2014-09-30 04:45] stubailo commented on #1
OK do the fork

[2014-09-30 04:52] tmeasday commented on #1
Arggh. For some reason I can't publish the package (to my own namespace). I'm getting a random `ENOENT, no such file or directory '/private/tmp/iron-router/.npm/package/node_modules'` error.

I'll open a bug against core.

@stubailo do you want to try publishing your own version? https://github.com/EventedMind/iron-router branch `0.9`.

[2014-09-30 04:52] tmeasday commented on #1
(I checked out to `/tmp` as it had the same problem in my development dir).

[2014-09-30 04:58] #33 closed, assigned to nobody

[2014-09-30 05:09] stubailo commented on #1
Published mine to sashko:router@0.9.4-rc0 - try it out!

[2014-09-30 05:15] tmeasday commented on #1
Nice. Although I have @cmather here, he's going to publish it as 0.9.3.1.

[2014-09-30 05:16] tmeasday commented on #1
P.S did we ever get a resolution to #28? Should I investigate further?

[2014-09-30 05:17] stubailo commented on #1
OK awesome, post here when it's done! for #28, we'll just say there are a few Cordova bugs we are working on and that it's a preview.

[2014-09-30 05:22] tmeasday commented on #1
Fixed.

[2014-09-30 05:31] cmather commented on #1
rock and roll

[2014-09-30 05:36] #32 closed, assigned to tmeasday

[2014-09-30 05:37] stubailo commented on #1
Awesome, going to test now

[2014-09-30 05:39] tmeasday commented on #29
Looks good to me. Although now the app launches in landscape for me. Do you see this @zol ?

[2014-09-30 05:43] tmeasday commented on #29
Fixed I guess. @zol tell me if that was wrong.

[2014-09-30 05:43] #29 closed, assigned to tmeasday

[2014-09-30 05:52] stubailo commented on #1
I'm still getting the error - `meteor reset` `meteor` then join, then click lock button, and the list disappears.

[2014-09-30 05:53] stubailo commented on #1
Oh never mind, not anymore. Had some weird state on my system.

[2014-09-30 05:54] tmeasday commented on #1
You need to restart your meteor server after updating packages these days it seems :)

[2014-09-30 16:49] zol commented on #1
lgtm.

[2014-09-30 16:49] #1 closed, assigned to nobody

[2014-09-30 16:55] zol commented on #29
@tmeasday Ah shit sorry, I fixed that then got distracted and didn't check it in. Boo :(

[2014-09-30 23:36] debergalis opened #34 "Hitting RET when new todo item is focus creates empty todo item"
(In desktop browser) focus in the "Type to add new tasks", then hit enter, and notice a new blank item.  It shouldn't create an empty event.

(This comes up easily because after you create an item focus returns to a blank input box.)

[2014-09-30 23:51] stubailo commented on #22
The mockup looks good for mobile!

[2014-10-01 15:35] zol commented on #34
Fixed by swallowing RET when task title is empty.

[2014-10-01 15:35] #34 closed, assigned to nobody

[2014-10-01 20:41] stubailo opened #35 "Sometimes when a list is opened, the "no todos" screen shows up for a split second before all of the todos stream in"
We should add some code to show a loading indicator while all of the todos for a list are loading, and then show them all at once.

[2014-10-01 20:47] stubailo opened #36 "When you tap the list title on iOS, sometimes the keyboard doesn't open to allow you to edit it"
Sometimes you have to tap twice.

[2014-10-01 20:47] stubailo opened #37 "The list title input doesn't save the new title when it is unfocused"

[2014-10-01 20:49] stubailo commented on #35
Especially prominent on a mobile device possibly due to slow connection or DOM rendering

[2014-10-01 20:58] stubailo opened #38 "Disable sidebar hover highlight on mobile"
On mobile, when you are dragging around the list of lists in the sidebar, sometimes random ones highlight as white, which is probably the hover effect from desktop. Let's disable that hover effect on mobile.

[2014-10-02 05:19] tmeasday commented on #35
Over to you @dominicnguyen. To see the state on desktop, add

[code]

to the `'todos'` publication in publish.js

[2014-10-02 05:22] tmeasday commented on #37
I actually did this intentionally but I'm not sure what the desired behaviour was. @dominicnguyen ?

[2014-10-02 05:30] stubailo commented on #37
My main concern is that this doesn't match how editing tasks works. When you edit the name of a task it is saved immediately and therefore stays when you unfocus the field.

[2014-10-02 05:30] tmeasday commented on #38
@dominicnguyen are you happy to just disable it with a media query or do you want to detect if we are in Cordova somehow?

[2014-10-02 05:34] tmeasday commented on #37
Hmm. I'm not sure the interaction will be the same though because tasks don't have a cancel button.

Should it save as you type? Thinking about it more I think it has to save on blur at the least anyway.

[2014-10-02 05:41] tmeasday commented on #36
Any ideas about a reproduction on this one? I wasn't able to reproduce it in the simulator (and I'm having trouble running on device right now)

[2014-10-02 06:15] domyen commented on #38
The Cordova solution seems like the better way to ensure that only mobile devices get this style change.

[2014-10-02 06:20] tmeasday commented on #38
Right, perhaps I should have said it's going to be more complicated. The problem is still there in any touch device, e.g. iOS in Safari. So I'm not convinced it's the right call.

[2014-10-02 16:22] stubailo commented on #37
I think it would be reasonable to make it save as you type just like the
tasks do, and change the cancel button to 'done' or remove it altogether.
On Oct 1, 2014 10:34 PM, "Tom Coleman" notifications@github.com wrote:

[2014-10-02 19:26] domyen commented on #37
The two ways to 'save' your input are _return_ and _blur_. The way to 'cancel' and revert back to the previous state is the _cancel_. I'm good with this pattern (i.e., the current iteration per Tom's commit).

I prefer having a cancel button that resets users to the initial state if we have save-as-you-type to provide an avenue to escape the flow.

[2014-10-02 19:34] domyen commented on #38
@tmeasday The reason I say Cordova –rather than media queries– is that there is reassurance of a touch device. Given the landscape of device widths (phone, tablet, phablet), setting media queries would result in many false positives. Media queries are great for layout, I'm more conservative when using them for interaction.

e.g., what is the breakpoint for no hover state? iphone6, 6plus, 5s, ipad

[2014-10-02 19:36] domyen commented on #36
@stubailo would this have something to do with the ios status bar covering part of the input?

Similar to the issue we encountered with the icons:
https://github.com/percolatestudio/mdg-todos/issues/18

[2014-10-02 21:20] domyen commented on #35
I'm good with the styling and message.

[2014-10-02 22:48] stubailo commented on #37
What's different about editing the tasks themselves?

[2014-10-02 22:49] stubailo commented on #38
I think for now disabling hover just in Cordova is fine. It's pretty reasonable that native app would have a better experience than mobile web.

[2014-10-02 23:18] domyen commented on #37
Lists are more important than tasks. Actioning a list affects the entire group of tasks whether that's editing or deleting. The life cycle of a task is to be quickly made and discarded. Lists aren't as temporal;  changing something seemingly insignificant like a name changes the perception of all the tasks inside the list.

We treat tasks and lists differently because they serve different purposes

[2014-10-02 23:22] stubailo commented on #37
OK fair enough.

[2014-10-03 04:31] tmeasday commented on #37
Ok, I think this is fixed then.

[2014-10-03 04:53] tmeasday commented on #38
@dominicnguyen I added a `cordova` class to the container. Go forth.

[2014-10-03 20:44] stubailo opened #39 "Migrate to the new App Metadata API as soon as the second preview of 0.9.4 comes out"
We are going to release another preview of 0.9.4 soon with a more user friendly way of setting icons, splashscreens, etc. I'm going to migrate the config.xml stuff to this new API.

(Assigned to myself)

[2014-10-03 21:01] stubailo opened #40 "Sidebar background doesn't show up in Android app"
Might be some sort of bug with CSS and the crappy default android webview.

[2014-10-04 00:12] stubailo opened #41 "When the app initially loads, if the DDP connection takes too long the "connection problem" message shows up for a second."

[2014-10-04 00:12] stubailo commented on #22
Any updates on this new UI/feature?

[2014-10-04 00:12] stubailo commented on #28
Fixed by 0.9.4-pre.8

[2014-10-04 00:12] #28 closed, assigned to stubailo

[2014-10-04 00:14] stubailo commented on #39
Done.

[2014-10-04 00:14] #39 closed, assigned to stubailo

[2014-10-04 00:36] zol commented on #22
@stubailo - we were planning on holding off on this along with the private sharing feature till after Sous is released as Matt is keen to push Sous forward along with the new recipe tweeting feature. Is that cool or do we need to re-adjust priorities?

[2014-10-04 00:38] zol commented on #41
@stubailo - Can you recommend a non-hacky way to solve this? We're conscious of keeping the example code clean.

[2014-10-04 00:52] stubailo commented on #41
Yeah you're right, using Meteor.status() is probably the best way to do this right now.

[2014-10-04 00:52] #41 closed, assigned to nobody

[2014-10-04 00:54] stubailo commented on #40
Fixed with solid color fallback. apparently the -webkit prefix doesn't really help.

[2014-10-04 01:48] dburles commented on #41
I just set a flag after initial load and then only show the notification if the flag is true

[2014-10-04 05:55] stubailo opened #42 "Swiping to open sidebar doesn't work on android"

[2014-10-06 04:47] tmeasday commented on #42
It does work (at least on my device), it's just very unreliable.

There are a bunch of tickets against the older hammer.js1.1 that have a variety of arcane fixes:  e.g. https://github.com/hammerjs/hammer.js/issues/366.

It's unclear if any of them will work in 2.0. I'm not sure how much messing around we want to do with this?

[2014-10-06 06:38] stubailo commented on #42
If there isn't a concise solution it's probably not worth it.

[2014-10-06 06:38] #36 closed, assigned to nobody

[2014-10-06 06:40] stubailo commented on #22
@debergalis what do you think?

[2014-10-06 16:47] domyen commented on #40
Coverage of the Android before it used Chrome as the default browser is notoriously spotty. I'm happy with the solid color solution but we can investigate linear-gradients in Android webview further if necessary.

[2014-10-06 18:45] stubailo commented on #40
OK I think the solid color fallback is totally fine, since you can't see the gradient as much on a small mobile screen anyway.

[2014-10-06 18:45] #40 closed, assigned to nobody

[2014-10-06 18:57] #42 closed, assigned to zol

[2014-10-06 19:51] #37 closed, assigned to nobody

[2014-10-06 20:00] zol commented on #35
Looks great!

[2014-10-06 20:00] #35 closed, assigned to nobody

[2014-10-06 20:06] domyen commented on #38
@zol can you confirm?

[2014-10-06 20:19] zol commented on #38
Problem solved, gw D.

[2014-10-06 20:19] #38 closed, assigned to nobody

[2014-10-07 19:34] debergalis opened #43 "layout bug w/ long list names"
![screen shot 2014-10-07 at 12 33 28 pm](https://cloud.githubusercontent.com/assets/204768/4548894/e2d22d04-4e58-11e4-9557-ae47f4bdd84e.png)

[2014-10-07 21:05] stubailo opened #44 "Make assets for Android - icons, splash screens"
Right now there are only specific icons and splash screens for iOS. I have added a hacky solution that uses the iOS assets, but it would be good to have the right sizes for android.

[2014-10-07 22:29] stubailo commented on #42
Fixed this by upgrading to hammer 2

[2014-10-07 22:30] stubailo commented on #41
I did the flag setting solution, it wasn't that bad. The problem was especially noticeable on Android

[2014-10-07 23:32] zol commented on #41
Does that imply that if you're say offline when you load the app and really
are attempting to connect you won't be notified?​

[2014-10-07 23:43] Slava commented on #44
+1

[2014-10-08 00:08] tmeasday commented on #42
Was I really using hammer 1? Oh man :facepalm:. Thanks @stubailo

[2014-10-08 00:32] dburles commented on #41
This is basically how I did it for atmos. Thoughts?

[code]

[2014-10-08 00:35] dburles commented on #41
Hmm I see what you're saying @zol

[2014-10-08 00:40] stubailo commented on #41
I've pushed my code already, you can see what I did

[2014-10-08 00:42] stubailo commented on #41
"Does that imply that if you're say offline when you load the app and really
are attempting to connect you won't be notified?​" It will notify you in 1 second. I think the most common case is where it takes <1 second to connect and you see the notification flash for a tiny bit.

We can also tune the timeout.

[2014-10-08 00:42] dburles commented on #41
I guess the 1 second timeout seems kind of arbitrary, something more concrete would be nicer, but I can't really think of anything better

[2014-10-08 00:44] stubailo commented on #41
It is completely arbitrary. Maybe something like 2-3 seconds would be better.

I think the point is the warning should pop up before the user really starts wondering "why is my data not showing up"

[2014-10-08 00:46] dburles commented on #41
ya. I guess it's reasonable enough

[2014-10-08 00:53] stubailo opened #45 "Fix the email wrapping"
We need to change the UI somehow so that email addresses are not wrapped, or are wrapped more intelligently. Even very short email addresses are wrapped, such as "sashko@meteor.com".

[2014-10-08 02:07] tmeasday commented on #43
Note that to reproduce this you need
  a) the exact right length text (any longer and it'll wrap),
  b) at least 10 items.

[2014-10-08 02:08] tmeasday commented on #43
Pushed a work around that moves the number slightly to the right. @dominicnguyen when you have a chance take a look at this.

Note that the problem will probably occur if you have 100+ items.

[2014-10-08 06:07] stubailo opened #46 "Tapping list title on iOS doesn't start editing or open keyboard"
You have to tap the list title twice to edit it.

[2014-10-08 20:44] stubailo commented on #46
I think we might have closed this as not reproducible, but I have a video of it happening again.

[2014-10-08 20:45] stubailo commented on #44
@Slava how are things going with android splash screen support?

[2014-10-08 20:45] stubailo commented on #43
Is it possible to do a complete fix by putting the todos count element before the list title? AFAIK that would make the list title wrap around the count.

[2014-10-08 21:07] Slava commented on #44
We need assets tailored for Android requirements.

[2014-10-08 21:09] zol commented on #44
@Slava could you please create placeholder assets and configure the android build to use them. I'll have @dominicnguyen create the correct assets.

[2014-10-08 21:11] Slava commented on #44
@zol, I am doing other work atm.

[2014-10-08 22:28] stubailo commented on #44
For now, can we do the icons only? Those are plain PNGs.

[2014-10-08 22:29] debergalis commented on #22
I think that's right.

[2014-10-08 22:56] zol commented on #44
Yep, I'm on it.

[2014-10-09 02:41] zol commented on #44
@stubailo @Slava - I'm trying the app on Android for the first time and getting the following error (latest on the 0.9.4 branch):

Is this a bug?

[code]

[2014-10-09 04:11] Slava commented on #44
That's a chance that I made on devel but it is not yet released in an RC. You can either revert my last commit or use checkout meteor.

[2014-10-09 04:11] stubailo commented on #44
For now, use the meteor release 0.9.4-rc.1 - we are doing some API changing
for the next RC on the branch.
On Oct 8, 2014 7:41 PM, "Zoltan Olah" notifications@github.com wrote:

[2014-10-09 04:12] stubailo commented on #44
Disregard my comment, Slava is correct.
On Oct 8, 2014 9:11 PM, sashko@mit.edu wrote:

[2014-10-09 05:26] tmeasday commented on #43
You're right @stubailo, that's a much better fix. @dominicnguyen just make sure you are happy with this.

[2014-10-09 05:40] tmeasday commented on #46
Here's the previous issue: https://github.com/percolatestudio/mdg-todos/issues/36

[2014-10-09 05:46] tmeasday commented on #46
@stubailo I tried in my sim and real iOS device and didn't see anything. One thing I did see was a bit of a delay when clicking the title immediately after app launch.

Can you post the video? Any ideas on a repro?

[2014-10-09 06:03] stubailo commented on #46
https://www.youtube.com/watch?v=FdOq4x0y08g&list=UU-wTnYJcaomBJxLY-EvxGxw

[2014-10-09 06:26] tmeasday commented on #46
Thanks @stubailo. So the page enters "editing" mode but the input isn't focussed.

It looks like the logic here: https://github.com/percolatestudio/mdg-todos/blob/master/client/templates/lists-show.js#L37-L40 is wrong.

Reproduced on my iPad. I'm not sure if it happens on phones?

[2014-10-09 06:50] tmeasday commented on #46
It's odd. `$('.js-edit-form input[type=text]').length` shows `1` at that point (the input is rendered and on the page). Not really sure why `.focus()` isn't working.

I'm seeing a fair bit of jankiness in general with my iPad. It's not updated to iOS 8 yet though, I'm not sure if maybe I should do that?. I can't tell if you are updated yet?

[2014-10-09 07:14] stubailo commented on #46
Ideally, the app should work well in iOS7 and 8, since not everyone will be
updated to the new one.

On Wed, Oct 8, 2014 at 11:50 PM, Tom Coleman notifications@github.com
wrote:

[2014-10-09 19:38] zol commented on #44
Thanks guys. I just noticed the asset dimensions are all incorrect (for iOS). I'll ask @dominicnguyen  rebuild them including the icons for Android tomorrow (he's out today).

@Slava - Is the plan for `App.icons` and `App.launchScreens` in `mobile-config.js` to support the entire matrix in the Apple [hig](https://developer.apple.com/library/IOs/documentation/UserExperience/Conceptual/MobileHIG/Ico

[2014-10-09 23:47] zol commented on #45
Waiting on Dom to get back and make a call. The other option is ellipsizing the emails.

[2014-10-10 03:33] tmeasday commented on #46
A ha! Reproduced on an iOS7 iPhone. So somethings changed in focussing inputs on iOS8. Investigating.

[2014-10-10 04:16] tmeasday commented on #46
Ok, I think this comment here explains what's going on: http://stackoverflow.com/a/26185118/670639

I tested in MobSaf directly on both phones and it's broken there to. So in iOS the _only_ place it works is Cordova/iOS8.

The reason is that because we pass a callback into `afterFlush`, the browser sees the focus as being outside of the click handler[1]. As the SO answerer explains, the reason it

[2014-10-10 18:09] zol commented on #44
Android icon sizes:

[code]

[2014-10-10 18:39] domyen commented on #44
Re-exported iOS icons and exported android icons
https://github.com/percolatestudio/mdg-todos/commit/337ff0ae5ac33d14e706c9bb35ac808f97f1596b
https://github.com/percolatestudio/mdg-todos/commit/78ef87a4885cc9321c42df2ab5bb800afc1d5a41

[2014-10-10 18:47] domyen commented on #43
@tmeasday The left-hand side is the space that denotes the state of list privacy –when a list is private we show an icon here. I'll fix the bug and revert your change.

[2014-10-10 18:51] stubailo commented on #43
By "before" I meant before in the HTML markup, not in the resulting UI. float: right will still make the number show up to the right, I think.

[2014-10-10 18:58] domyen commented on #43
Woops, misunderstanding. Reverting the revert & good suggestion :)

[2014-10-10 19:06] domyen commented on #45
Let's remove the '@domain.com' from the text we show in the UI to give us an allowance for lengthier  usernames.

[2014-10-10 22:33] stubailo commented on #45
Yeah, that sounds like a good option!

[2014-10-10 23:02] zol commented on #44
Not sure where we're at with branches right now but the assets are fixed and android icons exported on `master` in the above commits.

[2014-10-10 23:05] Slava commented on #44
What about splash screens?

[2014-10-10 23:08] zol commented on #44
Sashko indicated for the time being we're ok with the icons only. The splashscreens for android are more time consuming to make (because they're 9-patch images)

[2014-10-13 17:46] zol commented on #44
@dominicnguyen The cordova docs call for the following splash screen resolution for Android:

[code]

Since we'll be using 9patch images with a centered logo, these dimensions are only a guide. What I actually need is a minimal set of sizes for just the square logo that will work well across all of these dimensions.

[2014-10-17 17:09] stubailo commented on #44
I think we still need to convert these into the proper 9-patch format, right?

[2014-10-17 17:10] stubailo commented on #44
Also, we should add them to mobile-config.js file and test if they work in the emulator and on at least one device.

[2014-10-17 17:19] zol commented on #44
That's right. I'm working on this now.

[2014-10-17 19:09] zol commented on #44
@stubailo @Slava - Have you guys ever managed to successfully use a 9-patch splash image? I've definitely followed all documentation and Android just seems to completely ignore the 9-patch nature of whatever splash image I feed it.

In trying a 'known quantity', I used the guy's image from here: http://www.tidev.io/2014/02/12/android-splash-screens-using-9-patch-images/

And am seeing the followin

[2014-10-17 19:15] Slava commented on #44
@zol internet tells me that it happens because of images being too big (http://stackoverflow.com/questions/25109700/app-crashes-on-android-4-2-out-of-memory-because-of-cordova-splashscreen-plugi - closest link I found in 2mins of googling).

We didn't have 9-patch images so no successful attempts were registered.

[2014-10-17 19:27] zol commented on #44
Hmm, that's not the issue. All of the images I've tried (I've tried several 'correct' images from the interwebs) are tiny and none are interpreted as 9 patch. I'm looking closely at this http://community.phonegap.com/nitobi/topics/stretched_9_patch_splash_screens_android thread right now as it seems very related.

[2014-10-17 19:27] stubailo commented on #44
Hi, have you tried naming the file with the ".9.png" extension?

[2014-10-17 19:28] zol commented on #44
Yep, `splash.9.png`

[2014-10-17 19:36] zol commented on #44
@stubailo it appears that the build process moves the file to `screen.png`. This could be why they're not being interpreted correctly. I'm quite confused though as `.meteor/local/cordova-build/platforms/android/res/xml/config.xml` specifies `<splash density="port-ldpi" height="426" src="resources/android_ldpi_portrait.splash.png" width="320" />` and `.meteor/local/cordova-build/platforms/android/r

[2014-10-17 19:45] zol commented on #44
@Slava @stubailo - I think the way meteor configures the android project doesn't work for 9 patch splash screens (the filename not including .9 is likely the issue). Could you please confirm that you can get any old 9 patch splash from the web working e.g from here http://www.tidev.io/2014/02/12/android-splash-screens-using-9-patch-images/ or here http://community.phonegap.com/nitobi/topics/stretc

[2014-10-17 20:10] Slava commented on #44
Is the change committed anywhere on a branch so I can play with it?

[2014-10-17 20:32] zol commented on #44
Yes it is. Could you check my github permissions so that I can push it, my
username is 'zol'

[2014-10-17 20:34] zol commented on #44
Sorry guys, just needed to accept the permissions from the github email. @Slava I just pushed the `zol-todos-9patch` branch

[2014-10-17 20:34] Slava commented on #44
I am confused. Are we working on `meteor/meteor` now for this example?

[2014-10-17 20:36] zol commented on #44
Yes, We have moved development over to `meteor/meteor` for todos and
leaderboard.​

[2014-10-17 23:09] Slava commented on #44
@zol after a lot of googling and trial and error it looks like setting a 9-patch image is not an option on Cordova 3.x. Everyone is either using a fixed size image or they set these resources from IDEs like Eclipse. http://forum.ionicframework.com/t/need-help-with-displaying-splash-screen-on-android-cordova-3-6/10436/14 - this thread also confirms my findings.

I suggest you pick correct sizes and

[2014-10-17 23:13] zol commented on #44
Thanks for looking into it. After wasting a bunch of time on it when developing Verso, I came to the same conclusion. We should update the docs to remove reference to 9 patch so as not to send people astray.

I'll add the splash screens with fixed width.

[2014-10-20 17:20] zol commented on #44
[code]

[2014-10-20 19:05] zol commented on #44
Thanks, assets have been created and registered by https://github.com/meteor/meteor/commits/6729b847e260f59d7c91246768529ec0f78b264c

[2015-01-29 07:05] MuneshThakur opened #47 "Hello Every One"
Hello Every one
                           I want to change Screen splash and Logo image  of my android tablet on Booting time
but i don't know how to possible it. so any buddy have any Idea about it. in   what is the changing in android system file.
thanks & Regards
Munesh Parmar

[2015-01-29 08:02] #47 closed, assigned to nobody

[2015-02-12 18:34] #46 closed, assigned to stubailo

[2015-02-12 18:34] #45 closed, assigned to stubailo

[2016-11-19 07:13] krishnaff commented on #44
This is almost 2 years later.
Is it possible to use 9patch splash screens with Meteor Cordova Android? Tried the .9.png naming, but they don't show up in the device.
Any ideas please?